/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand:wght@300&display=swap');

/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}

/* body */
body {
    font-family: 'Quicksand',sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #ffff;
 }

 /*Video*/
 .back-video {   
   position: absolute;
   right: 0;
   bottom: 0;
   z-index: -1;
   }

@media (min-aspect-ratio: 16/9) {
      .back-video {
         width: 100%;
         height: auto;
      }
}

@media (max-aspect-ratio: 16/9) {
   .back-video {
      width: auto;
      height: 100%;
   }
}

 /*Style Home page intro text container, question-container and end container*/
 .outer-container, .question-container, .end-container {
    width: 90%;
    max-width: 600px;
    background-color: #646464;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px 2px;
    justify-content: center;
    margin: auto;
 }

 /*Style title*/
 h1 {
   color: #ffff;
   font-family: 'Oswald',sans-serif;
    font-size: 250%;
   text-align: center;
}
.title {
    text-decoration: none;
}

/*Style sub-heading and end-quote*/
h2 {
    font-size: 200%;
    font-weight: 700;
    text-align: center;
}

#end-quote {
   font-size: 200%;
   font-weight: bold;
   text-align: center;
}

/*Style how to play*/
.how-to {
    font-size: 120%;
    font-weight: 600;
 }

/*Style introduction text*/
p.intro-text {
    font-size: 120%;
    font-weight: 600;
    text-align: center;
}

/*Style button container*/
 .button-container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
 }

 /*Style buttons*/
 .start-btn, .back-btn, .play-btn, .next-btn, .end-btn, .again-btn {
   font-size: 150%;
   font-family: 'Quicksand', sans-serif;
   font-weight: bold;
   color: #000000;
   background-color: #FFFFFF;
   padding: 10px;
   margin: 10px;
   border-radius: 5px;
 }
 
 .again-btn {
   margin-left: 55px;
 }
 .start-btn:hover, .back-btn:hover, .play-btn:hover, .next-btn:hover, .end-btn:hover, .again-btn:hover {
    color: #FFFFFF;
    background-color: #000000;
 }

 /*Hide from Display*/
 .hide {
    display: none;
 }

 /*Style counter area*/
 .counter-area {
    display: flex;
   justify-content: space-between;
  }
 
  #question-area, #score-area, #timer-area {
    font-size: 100%;
    font-weight: 600;
  }
 
  h2#question {
   font-size: 200%;
   font-weight: 700;
  }
  /*Style answer buttons*/
  button.ans-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 100%;
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
  }
  .ans-btn:hover {
   transition: transform 150ms;
   transform: scale(1.02);
 }

  /*Style right and wrong buttons*/
  .right {
   background: #32CD32;
   color: #FFFFFF;
   border: #FFFFFF 1px solid;
 }

 .wrong {
   background: #FF0000;
   color: #FFFFFF;
   border: #FFFFFF 1px solid
 }

 /*---------- MEDIA QUERIES ----------*/
 /*Mobile devices*/
@media only screen and (min-width : 320px) {
  .title {
     font-size: 150%;
  }
  h2 {
     font-size: 90%;
  }
  #end-quote {
    font-size: 100%;
  }
  h2#question {
     font-size: 90%;
  }
  p.intro-text, .how-to {
     font-size: 75%;
  }
  .start-btn, .back-btn, .play-btn, .next-btn, .end-btn, .again-btn {
     font-size: 0.65rem;
  }
  #question-area, #score-area, #timer-area {
  font-size: 75%;
  }
  button.ans-btn {
   font-size: 70%; 
   font-weight: bold;
   }
  .question-container {
      padding: 10px;
      width: 300px;
 }
}

@media only screen and (min-width : 375px) {
   .title {
      font-size: 175%;
   }
   h2 {
      font-size: 100%;
   }
   
   .start-btn, .back-btn, .play-btn, .next-btn, .end-btn, .again-btn {
      font-size: 0.75rem;
   }
   .again-btn {
      margin-left: 75px;
     }
}

/*Tablets*/
@media only screen and (min-width : 481px) {
  .title {
     font-size: 220%;
  }
  .outer-container {
   margin-bottom: 40px;
    margin-left: 30px;
  }
  
  h2 {
     font-size: 200%;
  }
  p.intro-text, .how-to {
   font-size: 100%;
}
  #end-quote {
     font-size: 150%;
  }
 .start-btn, .back-btn, .play-btn, .again-btn, .end-btn, .next-btn {
  font-size: 1rem;
  }
  .again-btn {
   margin-left: 90px;
  }
  #question-area, #score-area, #timer-area {
   font-size: 90%;
  }
  h2#question {
   font-size: 120%;
  }
  button.ans-btn {
  font-size: 100%; 
  font-weight: bold;
  }
  .question-container {
   width: 600px;
  }
}

@media screen and (max-width: 768px) {
   .back-video {
      display: none;
   }
      body {
         background: url('../images/car-pic.webp');
         background-size: cover;
         background-color: #000000;
      }
      .outer-container, .question-container, .end-container {
         opacity: 0.9;
        }
   }