/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand:wght@300&display=swap');

/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}

/* body */
body {
    background-image: url('../images/car-pic.jpg');
    background-size: cover;
    background-color: #000000;
    font-family: 'Quicksand',sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #ffff;
 }

 /*Style Home page intro text container*/
 .outer-container, .question-container, .end-container {
    width: 80%;
    background-color: #646464;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px 2px;
    justify-content: center;
    margin: auto;
 }

 /*Style title*/
 .title {
    color: #ffff;
   font-family: 'Oswald',sans-serif;
    font-size: 300%;
   text-decoration: none;
   text-align: center;
}

/*Style sub-heading*/
h2 {
    font-size: 225%;
    font-weight: bold;
    text-align: center;
}

#end-quote {
   font-size: 200%;
   font-weight: bold;
   text-align: center;
}

/*Style how to play*/
p {
    font-size: 100%;
    font-weight: bold;
 }

/*Style introduction text*/
.intro-text {
    font-size: 150%;
    text-align: center;
}

/*Style button container*/
 .button-container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
 }

 /*Style buttons*/
 .start-btn, .back-btn, .play-btn, .next-btn, .end-btn, .again-btn {
   font-size: 150%;
   font-family: 'Quicksand', sans-serif;
   font-weight: bold;
   color: #000000;
   background-color: #FFFFFF;
   padding: 10px;
   margin: 10px;
   border-radius: 5px;
 }
 
 .again-btn {
   margin-left: 55px;
 }
 .start-btn:hover, .back-btn:hover, .play-btn:hover, .next-btn:hover, .end-btn:hover, .again-btn:hover {
    color: #FFFFFF;
    background-color: #000000;
 }

 /*Hide from Display*/
 .hide {
    display: none;
 }

 /*Style counter area*/
 .counter-area {
    display: flex;
   justify-content: space-between;
  }
 
  p.question-area, p.score-area, p.timer-area {
    font-size: 100%;
  }
 
  /*Style answer buttons*/
  .ans-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 150%;
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
  }

  /*Style right and wrong buttons*/
  .right {
   background: #32CD32;
   color: #FFFFFF;
   border: #FFFFFF 1px solid;
 }

 .wrong {
   background: #FF0000;
   color: #FFFFFF;
   border: #FFFFFF 1px solid
 }

 /*---------- MEDIA QUERIES ----------*/
 /*Mobile devices*/
@media only screen and (min-width : 320px) {
  .title {
     font-size: 200%;
  }
  h2 {
     font-size: 150%;
  }
  #end-quote {
    font-size: 100%;
  }
  #question {
     font-size: 100%;
  }
  .intro-text {
     font-size: 85%;
  }
  .start-btn, .back-btn, .play-btn, .next-btn, .end-btn, .again-btn {
     font-size: 0.75rem;
  }
  p {
  font-size: 75%;
  }
  p.question-area, p.score-area, p.timer-area {
  font-size: 75%;
  }

  .ans-btn {
   font-size: 70%; 
   font-weight: bold;
   }
  .question-container {
   padding: 10px;
  }
}

/*Tablets*/
@media only screen and (min-width : 481px) {
  .title {
     font-size: 200%;
  }
  h2 {
     font-size: 250%;
  }
  #end-quote {
     font-size: 150%;
  }
  .intro-text {
     font-size: 100%;
  }
 .start-btn, .back-btn, .play-btn, .again-btn, .end-btn, .next-btn {
  font-size: 1rem;
  }
 .ans-btn {
  font-size: 80%; 
  font-weight: bold;
  }
}

